@model IEnumerable<AgendaDistribuidas.Models.Contacto>

@{
    ViewBag.Title = "Details";
}

@foreach (var item in Model)
{
    <h3>Numero: @item.Interno</h3><br />
    <h3>Nombre: @item.Nombre</h3><br />
    <h3>Sector: @item.Sector.Descripcion</h3><br />
}
