@model IEnumerable<AgendaDistribuidas.Models.Sector>

@{
    ViewData["Title"] = "Index";
}

<h2>Sector</h2>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Sector
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SectorId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.SectorId">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.SectorId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
